{% extends 'base.html' %}
{% block head %}
<title>画数調べ</title>
<script type="text/javascript" src="/static/js/hantei.js"></script>
{% endblock %}

    {% block content %}
    <h1>画数を調べて九星の相性を調べます。</h1>
    <form action="{{ url_for('kakusu_valu2') }}" method="post">
    <div class="row mt-3 mb-3">
      <div class="nen col-sm">
      <h2>今年の九星は</h2>
        <select class="form-select" aria-label="Default select example" name="kusei_nen">
          <option value="1">一白水星</option>
          <option value="2">二黒土星</option>
          <option value="3">三碧木星</option>
          <option value="4">四緑木星</option>
          <option value="5">五黄土星</option>
          <option value="6">六白金星</option>
          <option value="7">七赤金星</option>
          <option value="8">八白土星</option>
          <option value="9">九紫火星</option>
        </select>
        </div>
      <div class="mon_day col-sm">
      <h2>今月の九星は</h2>
        <select class="form-select" aria-label="Default select example" name="kusei_tuki">
          <option value="1">一白水星</option>
          <option value="2">二黒土星</option>
          <option value="3">三碧木星</option>
          <option value="4">四緑木星</option>
          <option value="5">五黄土星</option>
          <option value="6">六白金星</option>
          <option value="7">七赤金星</option>
          <option value="8">八白土星</option>
          <option value="9">九紫火星</option>
        </select>
        </div>
      <div class="day_div col-sm">         
      <h2>今日の九星は</h2>
        <select class="form-select" aria-label="Default select example" name="kusei_hi">
          <option value="1">一白水星</option>
          <option value="2">二黒土星</option>
          <option value="3">三碧木星</option>
          <option value="4">四緑木星</option>
          <option value="5">五黄土星</option>
          <option value="6">六白金星</option>
          <option value="7">七赤金星</option>
          <option value="8">八白土星</option>
          <option value="9">九紫火星</option>
        </select>
        </div>
    </div> 

      <div class="umafrom mb-3" >
        <h2>馬の名前を入力してください</h2>
        <p>カタカタで、馬の名前を入力してください。</p>
        <p>&ensp;1:<input type="text" name="uma1" size="20" /></p>
        <p>&ensp;2:<input type="text" name="uma2" size="20" /></p>
        <p>&ensp;3:<input type="text" name="uma3" size="20" /></p>
        <p>&ensp;4:<input type="text" name="uma4" size="20" /></p>
        <p>&ensp;5:<input type="text" name="uma5" size="20" /></p>
        <p>&ensp;6:<input type="text" name="uma6" size="20" /></p>
        <p>&ensp;7:<input type="text" name="uma7" size="20" /></p>
        <p>&ensp;8:<input type="text" name="uma8" size="20" /></p>
        <p>&ensp;9:<input type="text" name="uma9" size="20" /></p>
        <p>10:<input type="text" name="uma10" size="20" /></p>
        <p>11:<input type="text" name="uma11" size="20" /></p>
        <p>12:<input type="text" name="uma12" size="20" /></p>
        <p>13:<input type="text" name="uma13" size="20" /></p>
        <p>14:<input type="text" name="uma14" size="20" /></p>
        <p>15:<input type="text" name="uma15" size="20" /></p>
        <p>16:<input type="text" name="uma16" size="20" /></p>
        <p>17:<input type="text" name="uma17" size="20" /></p>
        <p>18:<input type="text" name="uma18" size="20" /></p>
      </div>

      <div class="kisyuform mb-3">
        <h2>騎手の名前を入力してください</h2>
        <p>漢字、カタカナ、”ー”と”・”が入力できます。</p>
        <p>&ensp;1:<input type="text" name="kisyu1" size="20" /></p>
        <p>&ensp;2:<input type="text" name="kisyu2" size="20" /></p>
        <p>&ensp;3:<input type="text" name="kisyu3" size="20" /></p>
        <p>&ensp;4:<input type="text" name="kisyu4" size="20" /></p>
        <p>&ensp;5:<input type="text" name="kisyu5" size="20" /></p>
        <p>&ensp;6:<input type="text" name="kisyu6" size="20" /></p>
        <p>&ensp;7:<input type="text" name="kisyu7" size="20" /></p>
        <p>&ensp;8:<input type="text" name="kisyu8" size="20" /></p>
        <p>&ensp;9:<input type="text" name="kisyu9" size="20" /></p>
        <p>10:<input type="text" name="kisyu10" size="20" /></p>
        <p>11:<input type="text" name="kisyu11" size="20" /></p>
        <p>12:<input type="text" name="kisyu12" size="20" /></p>
        <p>13:<input type="text" name="kisyu13" size="20" /></p>
        <p>14:<input type="text" name="kisyu14" size="20" /></p>
        <p>15:<input type="text" name="kisyu15" size="20" /></p>
        <p>16:<input type="text" name="kisyu16" size="20" /></p>
        <p>17:<input type="text" name="kisyu17" size="20" /></p>
        <p>18:<input type="text" name="kisyu18" size="20" /></p>
      </div>

      <button type="submit" class="btn btn-primary">送信</button>
    </form>
        <script type="text/javascript">
          hantei();

    </script>
    {% endblock %}

